@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.contactList {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 25px;
}

.container {
    text-align: center;
}