@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 25px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.linkContainter {
    display: flex;
    justify-content: center;
}


.link {
    color: rgb(100, 100, 185);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    
}

.text {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;
}